body{
    margin:0;
    padding:0;
    background: #EFD2C6;
}


.name{
    width: 100%;
    height: 300px;
    background: #00804E;
    transform: skewY(5deg);

}

.name .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}

.name .content .p-1{
    color: #000 ;
    font-family: 'Anuphan', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    transform: skewY(-5deg);
    margin-bottom: 0;

}

.name .content .p-2{
    color: #000 ;
    font-family: 'Anuphan', sans-serif;
    font-size: 20px;
    transform: skewY(-5deg);
    margin-top: 0;
    margin-bottom: 0;  

}

.name .img{
    position: absolute;
    top: 8%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(-5deg);
    overflow: hidden;
}

.perfil{
    border-style: solid;
    border-width: 5px;
    border-color: #00804E;
    margin: 5% auto;
    
}

.perfil .tituloinfo{
    color: #d83135;
    font-family: 'Anuphan', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;

}

.perfil .segundotitulo{
    color: #d83135;
    font-family: 'Anuphan', sans-serif;
    font-size: 15px;
    text-align: center;
    

}

.perfil .info{
    color: #009BD8;
    font-family: 'Anuphan', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
    
    
    
}

.perfil .infodos{
    color: #009BD8;
    font-family: 'Anuphan', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
    
}

.perfil .tercertitulo{
    color: #d83135;
    font-family: 'Anuphan', sans-serif;
    font-size: 15px;
    text-align: center;
}

.perfil .infotres{
    font-family: 'Anuphan', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
}

.general .tgeneral{
    color: #d83135;
    font-family: 'Anuphan', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
}

.general .tdos{
    color: #d83135;
    font-family: 'Anuphan', sans-serif;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px #00804E dashed;
}

.general .ttres{
    color: #d83135;
    font-family: 'Anuphan', sans-serif;
    font-size: 15px;
    text-align: center;
}

.general .presentacion{
    font-family: 'Anuphan', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;

}